[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/Doctrine"]
	path = vendor/Doctrine
	url = https://github.com/doctrine/common
[submodule "vendor/Monolog"]
	path = vendor/Monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "vendor/Symfony/Component/EventDispatcher"]
	path = vendor/Symfony/Component/EventDispatcher
	url = git://github.com/symfony/EventDispatcher.git
[submodule "vendor/Symfony/Component/Validator"]
	path = vendor/Symfony/Component/Validator
	url = git://github.com/symfony/Validator.git
[submodule "vendor/Zend/Cache"]
	path = vendor/Zend/Cache
	url = git://github.com/KnpLabs/zend-cache.git
[submodule "vendor/Zend/Log"]
	path = vendor/Zend/Log
	url = git://github.com/KnpLabs/zend-log.git
